*{

margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial, sans-serif;

}



html{

scroll-behavior:smooth;

}




body{

background:#f5f2eb;
color:#333;

}





/* NAVBAR */


.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#222;
color:white;

position:sticky;
top:0;

z-index:100;

}



.logo{

color:#d8b48c;

}



.navbar ul{

display:flex;
gap:25px;
list-style:none;

}


.navbar a{

color:white;
text-decoration:none;

}


.menu-btn{

display:none;
font-size:25px;
cursor:pointer;

}







/* HERO */
.hero{

min-height:90vh;

display:flex;

align-items:center;

justify-content:space-between;

padding:50px 10%;

gap:50px;

}


.hero-text{

width:50%;

text-align:left;

}


.hero h1{

font-size:50px;

}


.hero span{

color:#9b6b43;

}


.hero p{

font-size:18px;

margin:20px 0;

line-height:1.6;

}



.image-box{

width:50%;

display:flex;

justify-content:center;

}



.profile-img{

width:350px;

height:350px;

object-fit:cover;

border-radius:25px;

border:6px solid #9b6b43;

box-shadow:0 15px 35px rgba(0,0,0,0.3);

transition:0.4s;

}



.profile-img:hover{

transform:scale(1.05);

}









section{

padding:70px 10%;

text-align:center;

}





section h2{

margin-bottom:30px;

font-size:35px;

}





.cards{

display:flex;

justify-content:center;

gap:25px;

flex-wrap:wrap;

}





.card{

background:white;

padding:25px;

width:280px;

border-radius:15px;

box-shadow:0 5px 20px #ccc;

transition:.3s;

}



.card:hover{

transform:translateY(-10px);

}




.card img{

width:100%;

border-radius:10px;

}







form{

max-width:500px;

margin:auto;

display:flex;

flex-direction:column;

gap:15px;

}



input,textarea{

padding:15px;

border:1px solid #ccc;

border-radius:10px;

}





footer{

background:#222;

color:white;

padding:20px;

text-align:center;

}








/* MOBILE RESPONSIVE */


@media(max-width:768px){


.navbar ul{

display:none;

flex-direction:column;

background:#222;

position:absolute;

top:70px;

right:0;

width:200px;

padding:20px;

}



.navbar ul.active{

display:flex;

}



.menu-btn{

display:block;

}



.hero{

flex-direction:column;

text-align:center;

}



.profile-img{

margin-top:30px;

width:220px;

}


}
@media(max-width:768px){


.hero{

flex-direction:column;

text-align:center;

}


.hero-text{

width:100%;

text-align:center;

}


.image-box{

width:100%;

}


.profile-img{

width:250px;

height:250px;

}


}